<div class="search-page">
    <form  class="search-form"method="GET" action="/artist-search">
        
        <input class="search-input" name="artist" type="text" placeholder="Artist">
        <button class="search-btn">Search for a artist</button>
        
        
    </form>
    

</div>
    
